/*myfont*/
@font-face {
  font-family: myfont;
  src: url(../fonts/FUDGED.ttf);
}
@font-face {
  font-family: myfont2;
  src: url(../fonts/Archistico_Simple.ttf);
}
/* WHY WONT BLUELIENS WORK */
@font-face {
  font-family: myfont3;
  src: url(../fonts/ohmygosh.ttf);
}
@font-face {
  font-family: myfont4;
  src: url(../fonts/manbowlines.ttf);
}
/* width */
::-webkit-scrollbar {
		width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
		background: #222;
}

/* Handle */
::-webkit-scrollbar-thumb {
		background: #111;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
		background: #555;
}
/* (sa2 tails voice) customize your settings here! */
.rowRowFightThePower{max-width:820px;margin-left:auto;margin-right:auto;padding:30px;border-radius:3px;}
body {
	cursor:url(../images/nav/rsz_hover.png), auto;
}
a {
	cursor:url(../images/nav/rsz_hoverreal.png), auto;
}
body{
/*background-color: #7f4a99; #525252*/
background-color: #171e64;
/* IE6-9 background-size: 50px auto, cover;*/background-attachment:fixed;color:#fff5e0;margin:0;line-height:1.7;}
body,h1,h2,h3,p{margin-top:0;letter-spacing:.01em;}
h1{margin-bottom:7px;text-align:center;}
h2,h3,p{margin-bottom:15px;}
h1,h2{font-family:'myfont4',courier,monospace;font-weight:normal;line-height:1.4;}
h3{font-family:'myfont4',courier,monospace;font-weight:normal;line-height:1.4;}
h1,h3{color:#cc66ff;}
h2,b,strong,i,em{color:white;}
body,p{font-family:'myfont2',courier,monospace;font-size:20px;}
/*a is the side bar links and stuff*/
a, a:active{color:white;text-decoration:none;font-weight:normal;font-family:'myfont2',courier,monospace;}
a:hover,a:focus{color: white;}
a{transition: all 0.4s ease;}
.text-center{text-align:center;}
.img-center{display:block;margin-left:auto;margin-right:auto;height:100px;}
.img-responsive{max-width:100%;height:auto;}

/* template */
/* md lg */ @media (min-width: 768px){.img-title{max-width:100%;height:auto;}}
/* sm */ @media (max-width: 767px){.img-title{max-width:150px;height:auto;}}
/*                                                                       hr.png for mobile */
.contentLeft{padding:15px !important;background-image:url(../images/home/rr.jpg);}
/* md lg */ @media (min-width: 768px){.contentLeft{min-height:800px;border-radius:0 3px 3px 0;}}
/* IE6-9 */background-size: 100% auto, cover;background-position:bottom center;background-repeat: no-repeat;}}
/* sm */ @media (max-width: 767px){.contentLeft{border-radius:3px 3px 0 0;background:#3B2631;}}
.contentRight{padding:25px !important;background-image:url(../images/home/tenor.png);}
/* md lg */ @media (min-width: 768px){.contentRight{min-height:800px;border-radius:0 3px 3px 0;}}
/* sm */ @media (max-width: 767px){.contentRight{border-radius:0 0 3px 3px;}}
.imgPixel img{image-rendering: pixelated;image-rendering: -moz-crisp-edges;image-rendering: crisp-edges;}
.clearfix{clear:both;display:block;}

.naviBG {background:white;padding:0;}
.navi {display:block; margin-bottom:3px;}
.navi img {width:15px;height:auto;vertical-align:-10%;margin-right:10px;margin-left:3px;}
.new{width:10px;height:auto;vertical-align:5%;margin-left:5px;}
.naviBanners{margin-bottom:5px;}
.gridNeopets img,.gridArt img {width:150px;height:auto;background:#fff;border-radius:3px;}
.gridVid img {width:150px;height:auto;border-radius:3px;opacity:0.7;}
.gridMusic img {width:100px;height:auto;border-radius:3px;opacity:0.7;}
.bull{width:22px;height:auto;margin-right:10px;vertical-align:-1%;}
.imgCenterVert{vertical-align: middle;display:block;margin:auto;width:auto;height:auto;top:0;bottom:0;left:0;right:0;}
.gridKao,.gridAnime,.gridVidya,.gridNeopets,.gridArt,.gridBlink,.gridButt,.gridIco{display:flex;align-items:center; /* horizontal */justify-content:center; /* vertical */}
.gridKao,.gridAnime,.gridBlink,.gridButt,.gridIco,.gridVidya{image-rendering: pixelated;image-rendering: -moz-crisp-edges;image-rendering: crisp-edges;}
.gridKao {height:90px;}
.gridAnime {height:120px;}
.gridVidya {height:120px;}
.gridNeopets,.gridArt {height:175px;}
.gridBlink {height:50px;}
.gridButt {height:80px;}
.gridIco {height:130px;}
.gridArt img:hover,.gridArt img:focus{opacity:0.7;}
.gridArt img{transition: all 0.4s ease;}

/* md lg */ @media (min-width: 768px){
.naviBanners{width:100%;height:auto;}
}

/* sm */ @media (max-width: 767px){
.naviBanners{width:100%;height:auto;max-width:200px;}
}

/* default-ass column sizing stuff. blasted all else. don't need that bloat. */
.container{margin:0 auto;padding:2px;}.row{box-sizing:border-box;display:flex;flex:0 1 auto;flex-flow:row wrap}.col-sm,[class^='col-sm-'],[class^='col-sm-offset-'],.row[class*='cols-sm-']>*{box-sizing:border-box;flex:0 0 auto;padding:2px;}.col-sm,.row.cols-sm>*{max-width:100%;flex-grow:1;flex-basis:0}.col-sm-1,.row.cols-sm-1>*{max-width:8.33333%;flex-basis:8.33333%}.col-sm-offset-0{margin-left:0}.col-sm-2,.row.cols-sm-2>*{max-width:16.66667%;flex-basis:16.66667%}.col-sm-offset-1{margin-left:8.33333%}.col-sm-3,.row.cols-sm-3>*{max-width:25%;flex-basis:25%}.col-sm-offset-2{margin-left:16.66667%}.col-sm-4,.row.cols-sm-4>*{max-width:33.33333%;flex-basis:33.33333%}.col-sm-offset-3{margin-left:25%}.col-sm-5,.row.cols-sm-5>*{max-width:41.66667%;flex-basis:41.66667%}.col-sm-offset-4{margin-left:33.33333%}.col-sm-6,.row.cols-sm-6>*{max-width:50%;flex-basis:50%}.col-sm-offset-5{margin-left:41.66667%}.col-sm-7,.row.cols-sm-7>*{max-width:58.33333%;flex-basis:58.33333%}.col-sm-offset-6{margin-left:50%}.col-sm-8,.row.cols-sm-8>*{max-width:66.66667%;flex-basis:66.66667%}.col-sm-offset-7{margin-left:58.33333%}.col-sm-9,.row.cols-sm-9>*{max-width:75%;flex-basis:75%}.col-sm-offset-8{margin-left:66.66667%}.col-sm-10,.row.cols-sm-10>*{max-width:83.33333%;flex-basis:83.33333%}.col-sm-offset-9{margin-left:75%}.col-sm-11,.row.cols-sm-11>*{max-width:91.66667%;flex-basis:91.66667%}.col-sm-offset-10{margin-left:83.33333%}.col-sm-12,.row.cols-sm-12>*{max-width:100%;flex-basis:100%}.col-sm-offset-11{margin-left:91.66667%}.col-sm-normal{order:initial}.col-sm-first{order:-999}.col-sm-last{order:999}@media screen and (min-width: 768px){.col-md,[class^='col-md-'],[class^='col-md-offset-'],.row[class*='cols-md-']>*{box-sizing:border-box;flex:0 0 auto;padding:2px;}.col-md,.row.cols-md>*{max-width:100%;flex-grow:1;flex-basis:0}.col-md-1,.row.cols-md-1>*{max-width:8.33333%;flex-basis:8.33333%}.col-md-offset-0{margin-left:0}.col-md-2,.row.cols-md-2>*{max-width:16.66667%;flex-basis:16.66667%}.col-md-offset-1{margin-left:8.33333%}.col-md-3,.row.cols-md-3>*{max-width:25%;flex-basis:25%}.col-md-offset-2{margin-left:16.66667%}.col-md-4,.row.cols-md-4>*{max-width:33.33333%;flex-basis:33.33333%}.col-md-offset-3{margin-left:25%}.col-md-5,.row.cols-md-5>*{max-width:41.66667%;flex-basis:41.66667%}.col-md-offset-4{margin-left:33.33333%}.col-md-6,.row.cols-md-6>*{max-width:50%;flex-basis:50%}.col-md-offset-5{margin-left:41.66667%}.col-md-7,.row.cols-md-7>*{max-width:58.33333%;flex-basis:58.33333%}.col-md-offset-6{margin-left:50%}.col-md-8,.row.cols-md-8>*{max-width:66.66667%;flex-basis:66.66667%}.col-md-offset-7{margin-left:58.33333%}.col-md-9,.row.cols-md-9>*{max-width:75%;flex-basis:75%}.col-md-offset-8{margin-left:66.66667%}.col-md-10,.row.cols-md-10>*{max-width:83.33333%;flex-basis:83.33333%}.col-md-offset-9{margin-left:75%}.col-md-11,.row.cols-md-11>*{max-width:91.66667%;flex-basis:91.66667%}.col-md-offset-10{margin-left:83.33333%}.col-md-12,.row.cols-md-12>*{max-width:100%;flex-basis:100%}.col-md-offset-11{margin-left:91.66667%}.col-md-normal{order:initial}.col-md-first{order:-999}.col-md-last{order:999}}@media screen and (min-width: 1280px){.col-lg,[class^='col-lg-'],[class^='col-lg-offset-'],.row[class*='cols-lg-']>*{box-sizing:border-box;flex:0 0 auto;padding:2px;}.col-lg,.row.cols-lg>*{max-width:100%;flex-grow:1;flex-basis:0}.col-lg-1,.row.cols-lg-1>*{max-width:8.33333%;flex-basis:8.33333%}.col-lg-offset-0{margin-left:0}.col-lg-2,.row.cols-lg-2>*{max-width:16.66667%;flex-basis:16.66667%}.col-lg-offset-1{margin-left:8.33333%}.col-lg-3,.row.cols-lg-3>*{max-width:25%;flex-basis:25%}.col-lg-offset-2{margin-left:16.66667%}.col-lg-4,.row.cols-lg-4>*{max-width:33.33333%;flex-basis:33.33333%}.col-lg-offset-3{margin-left:25%}.col-lg-5,.row.cols-lg-5>*{max-width:41.66667%;flex-basis:41.66667%}.col-lg-offset-4{margin-left:33.33333%}.col-lg-6,.row.cols-lg-6>*{max-width:50%;flex-basis:50%}.col-lg-offset-5{margin-left:41.66667%}.col-lg-7,.row.cols-lg-7>*{max-width:58.33333%;flex-basis:58.33333%}.col-lg-offset-6{margin-left:50%}.col-lg-8,.row.cols-lg-8>*{max-width:66.66667%;flex-basis:66.66667%}.col-lg-offset-7{margin-left:58.33333%}.col-lg-9,.row.cols-lg-9>*{max-width:75%;flex-basis:75%}.col-lg-offset-8{margin-left:66.66667%}.col-lg-10,.row.cols-lg-10>*{max-width:83.33333%;flex-basis:83.33333%}.col-lg-offset-9{margin-left:75%}.col-lg-11,.row.cols-lg-11>*{max-width:91.66667%;flex-basis:91.66667%}.col-lg-offset-10{margin-left:83.33333%}.col-lg-12,.row.cols-lg-12>*{max-width:100%;flex-basis:100%}.col-lg-offset-11{margin-left:91.66667%}.col-lg-normal{order:initial}.col-lg-first{order:-999}.col-lg-last{order:999}}
