@charset "UTF-8";
/* CSS Document */

/*myfont*/
@font-face {
  font-family: myfont;
  src: url(../fonts/FUDGED.ttf);
}
@font-face {
  font-family: myfont2;
  src: url(../fonts/Archistico_Simple.ttf);
}
/* WHY WONT BLUELIENS WORK */
@font-face {
  font-family: myfont3;
  src: url(../fonts/ohmygosh.ttf);
}
@font-face {
  font-family: myfont4;
  src: url(../fonts/manbowlines.ttf);
}
body,p{font-family:'myfont2',courier,monospace;font-size:20px;}
a, a:active{color:white;text-decoration:none;font-weight:normal;font-family:'myfont4',courier,monospace;}
div {
  font-family: myFirstFont;
}
body,a {
	cursor:url(../images/nav/rsz_hover.png), auto;
}
* {
	margin:0px;
	padding:0px;
	letter-spacing:8px;
	font-smooth: never;
	-webkit-font-smoothing: none;
	/*-moz-osx-font-smoothing: grayscale;*/

	}

body {
		/*-the background and the main font color*/
	background-image:url(../images/vprwve/12.gif);
	background-size: contain;
	background-color:black;
	color:white;
	}
/*
a {
	text-decoration:none;

	}

a:link {
	color:#8e717e;
	}

a:visited {
	color:#8e717e;
	}

a:hover {
	color:#8e717e;
	animation: wiredB2 2s ease-out infinite;

	}

a:active {
	color:#8e717e;
	}
*/
#navbar {
	/*top bar*/
	background-image:url(../images/blog/hsB.gif);
	/*background-color:black;*/
	width:800px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	margin-top:40px;
	/*box-shadow:black 0px 5px 10px;*/
	text-align:center;
	padding-top:40px;
box-shadow:black 0px 5px 10px;
	}


h1 {
	/*Title at very top*/
	font-size:30px;
	font-family: myfont4;
	font-weight:normal;
	clear:both;
	}

h6 {
	/*i dont know???*/
font-family:Times, "Times New Roman", serif;
	font-size:90px;

	}

.intro {
		/*Personal site*/
	font-family: myfont;
	font-size:9px;

	}

.copy {
	font-size:15px;

	}

.mail {
	font-size:9px;

	}

.logo {
  -webkit-box-shadow: 0 8px 4px 4px #9999cc;
  -moz-box-shadow: 0 8px 4px 4px #9999cc;
  box-shadow: 0 0 4px 4px #9999cc;
	margin:20px;


	}

#navline {
	font-size:13px;
	letter-spacing:8px;
	margin-bottom:20px;
	color:black;
	}

.blinkFrame {
	display:inline-block;
	float:left;
	width:400px;
	font-weight:bolder;


	}


hr {

	border-color:#black;
	border-bottom-width:2px;



	}

#enterWired {
		/*realted to article body*/
	display:block;

	width:838px;
	height:650px;
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;



	}


.article {
		/*eac article body*/
	width:800px;
	background-image:url(../images/blog/hsB.gif);
	background-color:black;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	margin-top:40px;
	box-shadow:black 0px 5px 10px;
	text-align:center;
	letter-spacing:8px;
	font-size:13px;
	padding-top:20px;


	}

.article p {
	margin:20px;
	font-size:13px;
	}

.date {
	font-size:9px;
	line-height:0px;
	margin:0px;

	}
.author {
	font-size:13px;
	line-height:40px;
	margin:0px;

	}

h5 {
	font-weight:normal;
	}

b {
	color:#8e717e;
	font-weight:normal;

	}

#footer {
	margin-top:70px;
	color:#8e717e;
	border:0px;
	text-align:center;
	letter-spacing:8px;
	font-size:9px;
	margin-bottom:20px;
	}

#footer span {
	background-color:black;
	padding:3px;


	}

#footer a {
	text-decoration:underline;
	}


#note {
	letter-spacing:0px;
	}

.article .comment {
	font-size:9px;
	}

.jap {
	font-smooth: auto !important;
	-webkit-font-smoothing : auto !important;

	}

.iconA {
	background-image:url(favicon_16px.gif);
	background-repeat:no-repeat;
	height:16px;
	width:16px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;

	}




.del1s {
	animation: blink 2s linear infinite;
	animation-delay: 0s;
	letter-spacing:0px

	}

.del1s5ms {
	animation: blink 2s linear infinite;
	animation-delay: 0.4s;
	letter-spacing:0px

	}

.del2s {
	animation: blink 2s linear infinite;
	animation-delay: 0.8s;
	letter-spacing:0px

	}


.del4s {
	animation: blink 2s linear infinite;
	animation-delay: 1.2s;
	letter-spacing:0px

	}

.del5s {
	animation: blink 2s linear infinite;
	animation-delay: 1.6s;
	letter-spacing:0px

	}

.del6s {
	animation: blink 2s linear infinite;
	animation-delay: 2s;
	letter-spacing:0px

	}

.blink {
  animation: blink 2s linear infinite;
}

.Bfast {
	  animation: blink 2s ease-out infinite;

	}

.wiredAnim {
		  animation: wiredB 2s ease-in-out infinite;
	}

.wdel1s {
	animation: wiredB 2s ease-in-out infinite;
	animation-delay: 0.4s;
	}

.wdel2s {
	animation: wiredB 2s ease-in-out infinite;
	animation-delay: 0.8s;
	}

.wdel3s {
	animation: wiredB 2s ease-in-out infinite;
	animation-delay: 1.2s;
	}

#fontcolor {
	color:white;
}

@keyframes blink {
  50% {
	  color:black;
  }
 }

 @keyframes wiredB {
  50% {
	  color:#8e717e;
	  text-shadow:#8e717e 1px 4px 5px;
	  }
 }

 @keyframes wiredB2 {
  50% {
	  color:#980301;
	  text-shadow:#980301 1px 1px 6px;
	  }
 }
 /* width */
 ::-webkit-scrollbar {
     width: 10px;
 }

 /* Track */
 ::-webkit-scrollbar-track {
     background: #222;
 }

 /* Handle */
 ::-webkit-scrollbar-thumb {
     background: #111;
 }

 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
     background: #555;
 }

/* overheadthing */
 .overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
