#wrap {
    background-image: url('../img/bg_auditorium.gif');
}

#content_head {
    border-image:
    repeating-linear-gradient(
        135deg,
        #000,
        #000 10px,
        #9999cc 10px,
        #9999cc 20px
    ) 20;
}

#content {
    -webkit-box-shadow: 0 8px 4px 1px #9999cc;
    -moz-box-shadow: 0 8px 4px 1px #9999cc;
    box-shadow: 0 0 4px 1px #9999cc;
    min-height: 320px;
}

div:not(#content) + div#content {
    min-height: 0;
}

#content img.auditorium
{
    float: left;
    margin: 8px 16px 8px 4px;
}

.playlist_info
{
    overflow: hidden;
}
