/* yo what up */

@import url('https://fonts.googleapis.com/css?family=Lobster|Major+Mono+Display|Poppins');

@font-face {
  font-family: myfont;
  src: url(../../fonts/FUDGED.ttf);
}
@font-face {
  font-family: myfont2;
  src: url(../../fonts/Archistico_Simple.ttf);
}
@font-face {
  font-family: myfont3;
  src: url(../../fonts/nasalization-rg.ttf);
}
@font-face {
  font-family: myfont4;
  src: url(../../fonts/manbowlines.ttf);
}


/* Content Two for Return to home page screen */

.label2 {
  -webkit-box-shadow: 0 8px 10px -6px rgba(235,235,235,0.5);
  -moz-box-shadow: 0 8px 10px -6px rgba(235,235,235,0.5);
  box-shadow: 0 8px 10px -6px rgba(235,235,235,0.5);



  padding: 2px 16px;

  text-align: center;
  text-transform: uppercase;

  color: #CAD1D1;
}

.label2 p {
  font-family: myfont4, serif;
  letter-spacing: 4px;
  font-size: 2.4em;
  line-height: 0.75em
}
/* Content Two for Return to home page screen */

/* width */
::-webkit-scrollbar {
		width: 10px;
}
a, a:hover {
    text-decoration: none;
}

a {
    color: gray;
    font-size: .8em;
}

a:hover {
    color: white;
}
/* Track */
::-webkit-scrollbar-track {
		background: #222;
}

/* Handle */
::-webkit-scrollbar-thumb {
		background: #111;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
		background: #555;
}
/*
font-family: 'Poppins', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Major Mono Display', monospace;
*/
h2 {
  font-family:'myfont4';
  color:white;
  font-size: 50px;
}

* { margin: 0; padding: 0; }
#page{display:table;overflow:hidden;margin:0px auto;}
*:first-child+html #page {position:relative;}/*ie7*/
* html #page{position:relative;}/*ie6*/

#content_container{display:table-cell;vertical-align: middle;}
*:first-child+html #content_container{position:absolute;top:50%;}/*ie7*/
* html #content_container{position:absolute;top:50%;}/*ie6*/

*:first-child+html #content{position:relative;top:-50%;}/*ie7*/
* html #content{position:relative;top:-50%;}/*ie6*/

html,body{height:100%;}
#page{height:100%;}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 901px) {
  #page {
    width:900px;
  }
}

html{
  background:url(../../images/entries/4.jpg);
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 900px) {
  #page {
    width:400px;
  }
}


body {
  background-color: black;
  color: black;
  background-size: 16vw, 16vw, 4vw;
  z-index: 1;
}

em {
  color: black;
}

html {
  font-size: 16px;
}
@media screen and (min-width: 220px) {
  html {
    font-size: calc(12px + 10 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}

#hidden{
  background: url(/images/site_graphics/glass_left.gif) repeat-y,
          url(/images/site_graphics/glass_right.gif) top right repeat-y,
          url(/images/site_graphics/glassbg.gif) top left repeat;
      background-size: 16vw, 16vw, 7vw;
}

h1 {
  font-family: 'myfont4';
  color:white;
  font-size: 30px;
}


p {
  font-family: 'myfont3';
  font-size: 20px;
}
img {
-webkit-box-shadow: 0 8px 4px 4px #555555;
-moz-box-shadow: 0 8px 4px 4px #555555;
box-shadow: 0 0 4px 4px #555555;
}
.top {
  text-align: center;
  padding: 1%;
  margin-top: .01vw;
}
.main{
  text-align: left;
  padding: 3vw;
  margin-top: 1vw;
  border:.2vw solid white;
  border-radius: 1vw;
  background: url(../../images/sub/2.png) repeat;
  background-color: black;
  background-size: 26vw;
}
.main a{
  text-align: center;
}

.main p{
  text-align: left;
  color: white;
}

.art{
  text-align: center;
  padding: 1%;
  margin-top: 2%;

}

.topimages {
  display: inline;

}

.headerbar {
  display: inline;
}

.header2{
  display: block;
  background-color: white;
  text-align: center;
  padding: 1.0vw 30% 1.0vw 30%;
  border: .2vw solid black;
  border-radius: 1vw;
}

.copyright {
  text-align: center;
  padding: 2.5vw;
  color: white;
}

a:link {
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    background-color: transparent;
    text-decoration: underline;
}

#result {
  border: .2vw solid black;
  background: white;
  border-radius: 1.5vw;
  padding: 2.0vw;
  color:black;
}

#result2 {
  border: .2vw solid black;
  background: white;
  border-radius: 1.5vw;
  padding: 2.0vw;
   color:black;
}

button {
  padding: 1.0vw;
  background-color: white;
  border-radius: 1.0vw;
  cursor: pointer;
  color:black;
}

.thumb{
  cursor: pointer;
  padding: .2vw;
  color: white;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5%;
  width: 80%;
  background-color: transparent;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 5%;
  padding: 2.0vw;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.column {
  float: left;
  width: 14%;
}

.column2 {
  display:inline;
  vertical-align:top;
}

.column3 {
  display:inline;
  vertical-align:bottom;
}

.column4 {
  background-color: white;
  border: .5vw solid black;
  padding: 1.0vw;
  display:inline;
  margin: 2% 25% 2% 25%;
}

th {
  margin:1% 70% 1% 70%;background-color: #fefefe;border: .3vw solid black;border-radius: 2.0vw;padding: 1.0vw 3.0vw 2.0vw 3.0vw;width:50%;
  vertical-align: text-top;
}

table{
  margin:3% 15% 3% 15%;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

canvas {
  background: white;
  display: block;
  margin: 0 auto;
  border-radius: 1.5vw;
}

.book {
  background:none;
  border:none;
  width:30%;
  float:none;
  vertical-align:middle;
}

.book2 {
  background:none;
  border:none;
  width:30%;
  float:none;
  vertical-align:bottom;
}

table {
  table-layout: fixed;
}

/*collapsible shit, credit to https://alligator.io/css/collapsible/ */

.wrap-collabsible {
  margin-bottom: 1.2rem 0;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  display: block;

  text-align: center;

  padding: 1rem;

  color: black;
  background: white;

  cursor: pointer;

  border:.2vw solid black;
  border-radius: .7vw;
  transition: all 0.25s ease-out;
  margin-top: 2%;
}

.lbl-toggle:hover {
  color: #7C5A0B;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: .2vw solid transparent;
  border-bottom: .2vw solid transparent;
  border-left: .2vw solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-.2vw);

  transition: transform .2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-.3vw);
}

.collapsible-content {
  max-height: 0vw;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 35.0vw;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  background: rgba(250, 224, 66, .2);
  border-bottom: .1vw solid rgba(250, 224, 66, .45);
  border-bottom-left-radius: .2vw;
  border-bottom-right-radius: .2vw;
  padding: .5rem 1rem;
}


@-webkit-keyframes typing { from { width: 0; } }

.typewriter {
	border-right: .1em solid black;
	width: 16.5em;
	width: 21ch;
	margin: 2em 1em;
	white-space: nowrap;
	overflow: hidden;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.img-holder {position: relative; display: inline-block;}
.img-holder img {display: block;}
.img-holder p {position: absolute; top: 50%; left: 0; right: 0; transform: translate(0, -50%); text-align: center; color: #fff; text-shadow: 0 0 15px;}
