body{
background-color: #181818;
}
::-webkit-scrollbar {
		width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
		background: #222;
}

/* Handle */
::-webkit-scrollbar-thumb {
		background: #111;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
		background: #555;
}
