body {
  font-weight: normal;
  font-family: "Times New Roman";
  animation: fade-in 2s;
  }
h2 {
  text-shadow: -0.06em 0 0.5px rgba(201, 201, 201, 0.9);
  font-weight: normal;}

h1 {
color:rgb(87, 85, 76);
font-weight: normal;
font-size:2.4em;
}
h3 {
  color:rgb(94, 90, 72);
  font-weight: normal;
  font-size:1.8em;
  text-align: center;  
  margin-top: 0em;
  margin-bottom: 0em;
}

h4 {
  margin-top: .3em;
  margin-bottom: .7em;
  font-size: 4.5em;
font-weight: normal;
color:rgb(133, 24, 24);
}

h6 {
  color:rgb(211, 211, 211);
  font-weight: normal;
  text-align:center;
  }

.bodystuff{
  font-size:1.3em;
  line-height: 2;
}

.h {
  white-space: nowrap;
}



.quote {
  color:rgb(158, 153, 130);
  font-weight: italic;
  font-size:1.6em;
  text-align: center;  
  line-height:1.25;
  margin-top: 0em;
  margin-bottom: 0em;
  padding-left: 1em;
  padding-right: 1.5em;
}

.att {
  color:rgb(136, 132, 113);
  font-size:1em;
  text-align: right;  
  line-height:1.5;
  margin-top: 0em;
  margin-bottom: 0em;
  padding-left: 1em;
  padding-right: 1.5em;
}


a {
  white-space: nowrap;
} 
h5 {
  margin-top: 0em;
  margin-bottom: 0em;
  text-align: center;
  font-size: 5em;
  text-shadow: -0.03em 0 0.5px rgba(201, 201, 201, 0.9);
  font-weight: normal;
}

a:visited, a:link, a:active {
  color: rgb(56, 0, 0);
  text-decoration: none;
  transition: ease-in-out 0.2s;
  text-shadow: 0.09em 0 0.5px rgba(0, 0, 0, 0.9);
}

a:hover {
  color: rgb(255, 145, 178);
  text-shadow: -0.09em 0 0.5px rgba(255, 176, 219, 0.9);
}
.right {
  text-align: right;
  color: white;
}
.ttyl {
  text-indent: 10px;
}
.abar {
  text-align: center;
  padding: 0;
  margin: 0;
}

.fade {
  position: relative;
  text-align: center;
}

.fade span {
  position: absolute;
  transform: translateX(-50%);
  transition: ease-in-out .5s;
}

.fade span:nth-child(2) {
  opacity: 0;
}

.fade span:nth-child(1) {
  opacity: 1;
}

.fade:hover span:nth-child(2) {
  opacity: 1;
}

.fade:hover span:nth-child(1) {
  opacity: 0;
}

