/* new stuff 08/03/31*/


span {
  font-size: 1.70em;
  letter-spacing: 0.16em;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  font-style: normal;
}

/* Clearfix  */
.group:after {
  content: "";
  display: table;
  clear: both;
}

/* Edit these two variables to fit page */
/* Column padding (horizontal and vertical) */
/* Media query breakpoints (based on images showing at their full size in 1 and 2 column layouts) */
#content-container {
  max-width: 1060px;
  margin: 10 auto;
}

.gallery {
  max-width: 100%;
  /* 3 column layout */
  /* 2 column layout */
  /* 1 column layout */
}
.gallery .grid {
  float: left;
}
@media (min-width: 950px) {
  .gallery .grid {
    width: 32.333333%;
    padding: 2% 0 0 2%;
  }
  .gallery {
    margin-left: 5px;
  }
  .hhh {
    padding-left: 25px; padding-right:25px;
  }
  .button1 {
    margin-right:20px;
  }
  .sub {
    margin-bottom:-20px;
  }
}
@media (max-width: 950px) {
  .gallery .grid {
    width: 48.5%;
    padding: 0 3% 3% 0;
  }
  .gallery {
    margin-left: 5px;
  }
}

.gallery a {
  position: relative;
  display: block;
  /* important - otherwise caption do position correctly */
  /* Caption overlays on hover */
}
.gallery a img {
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  width: 100%;
  height: auto;
  display: block;
  /* remove weird pixel padding */
}
.gallery a span {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 15%;
  color: white;
  text-align: center;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  border: 4px solid;
}
.gallery a:hover span{
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 1;
  border: 4px solid white;
}
.gallery a:hover img {
  background-color:black;
  opacity: 0.5;
}






/* end of new stuff */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #111;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*     NEW STUFF    */
body {
  background-color:black;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
  min-height: 100vh;
  padding: 40px 0;
  color:rgb(0, 0, 0)!important;
  line-height: 1.5em;

  /*font stuff*/
  font-size: 1.30em;
  letter-spacing: 0.16em;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  font-style: normal;
  text-align: right;
}

/*BUTTON ADD 08/02/21*/
input {
  background-color: black;
  /*background-image: url(../images/img/1.gif);
  background-size: 10px;
  */
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.2s;
  margin-bottom:-35px;
  z-index:2;
}
input:hover{
  text-decoration: underline;
}

/*end 08/02/21*/


/*
p,h1,h2,h3,figcaption{font-family:'Times New Roman';
}
*/
h2 {
  font-weight: bold;
  margin-top: 0px;
  padding-top: 0px;
}


a:visited, a:link, a:active {
  color: #000000;
  text-decoration: none;
  transition: ease-in-out 0.5s;
}

a:hover {
  text-decoration:underline;
}


.container.gallery-container {
  /*background-color: #ffffff;
  background-image:url(7.png);
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
   */
  background-color:rgb(255, 255, 255);
  /*border:#111;
  border-style: solid;
  */background-size: 10px;
  background-attachment:fixed;
 
  /*color: #fefff9;*/
  min-height: 100vh;
  padding: 0px 50px;
}

.one {
  color:rgb(255, 255, 255)
}


.gallery-container h1 {
  text-align: left;
  font-weight: bold;
  /*text-shadow: -0.03em 0 0.9px rgba(255, 176, 219, 0.9);
  */
}

.gallery-container p.page-description {
  text-align: left;
  font-size: 1.3em;
}

.tz-gallery {
  padding: 0px;
}

/* Override bootstrap column paddings */
.tz-gallery .row > div {
  padding: 2px;
}

.tz-gallery .lightbox img {
  width: 100%;
  border-radius: 0;
  position: relative;
}

.tz-gallery .lightbox:before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
  opacity: 0;
  color: rgb(136, 116, 116);
  font-size: 26px;
  pointer-events: none;
  z-index: 9000;
  transition: 0.4s;
  
  
}

.sign:hover{
  filter: hue-rotate(0deg);
  transition: 0.5s;
}

.tz-gallery .lightbox:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(65, 65, 65, 0.3);
  content: '';
  transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
  opacity: .5;
}

.baguetteBox-button {
  background-color: transparent !important;
}





@media screen and (max-device-width: 800px) {
  .harry {
    display: none;
  }
}
@media screen and (min-width: 801px) {
  .larry {
    display: none;
  }
}

@media screen and (max-width: 950px) {
  .carry {
    text-align:center!important;
  }
}

@media screen and (max-width: 950px) {
  .barry {
    margin-left: 20px;
  }
}

/* new photos */

.dw {
  -webkit-animation: fade 2s;
          animation: fade 2s;
}
.dw {
  box-sizing: border-box;
  -moz-column-gap: 0;
  -webkit-column-gap:0;
  -o-column-gap:0;
       column-gap: 0;
}
.dw * {
  box-sizing: border-box;
}
.dw__fcs-crtn {
  background-color: #000;
  bottom: 0;
  display: none;
  left: 0;
  opacity: 0.75;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
}

@media (min-width: 950px) {
  .dw {
    -moz-column-count: 3;
    -webkit-column-count:3;
    -o-column-count:3;
         column-count: 3;
  }
}

.dw-pnl {
  margin: 0;
  padding: 5px;
}
.dw-pnl--fcs {
  position: relative;
}
.dw-pnl--fcs:hover {
  z-index: 3;
}
.dw-pnl--fcs:hover ~ .dw__fcs-crtn {
  display: block;
}
.dw-pnl--pls {
  transform-style: preserve-3d;
  perspective: 1000;
  transition: transform 0.25s ease 0s;
}

.dw-pnl__cntnt {
  border-radius: 10px;
  overflow: hidden;
  padding: 7px;
  width: 95%;
  margin-right: 15px;
  margin-left: 5px;
  margin-bottom: 10px;
  -webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
}
@media (min-width: 768px) {
  .dw-pnl {
    -moz-column-break-inside: avoid;
    -webkit-column-break-inside:avoid;
    -o-column-break-inside:avoid;
         break-inside: avoid;
  }
}
.dw-flp {
  perspective: 1000;
}

.dw-flp--sm {
  height: 200px;
}
.dw-flp--md {
  height: 300px;
}
.dw-flp--lg {
  height: 400px;
}
.dw-flp__pnl {
  -webkit-backface-visibility: hidden;
  -webkit-backface-visibility:hidden;
  -o-backface-visibility:hidden;
          backface-visibility: hidden;
  border-radius: 10px;
  height: 100%;
  left: 0;
  overflow: visible;
  padding: 20px;
  position: absolute;
  top: 0;
  width: 100%;
}
.dw-flp__pnl--frnt {
  transform: rotateY(0deg);
  z-index: 2;
}
.dw-flp__pnl--bck {
  transform: rotateY(180deg);
}
.dw-flp__cntnt {
  height: 100%;
  overflow: visible;
  position: relative;
  transform-style: preserve-3d;
  transition: 0.25s;
}
.dw-clstr {
  display: flex;
  padding: 0;
}
@media (max-width: 430px) {
  .dw-clstr--vrt {
    flex-direction: column;
  }
}
.dw-clstr--hrz {
  flex-direction: column;
}
.dw-clstr__sgmnt {
  display: flex;
  flex: 1 1 auto;
}
.dw-clstr__sgmnt--rw {
  display: flex;
}
@media (max-width: 430px) {
  .dw-clstr__sgmnt--rw {
    flex-direction: column;
  }
}
.dw-clstr__sgmnt--clmn {
  flex-direction: column;
}
@media (min-width: 430px) {
  .dw-clstr__sgmnt--hlf {
    flex-basis: 50%;
  }
  .dw-clstr__sgmnt--qrt {
    flex-basis: 25%;
  }
}
/**
  * Theming
*/
* {
  box-sizing: border-box;
}
.tx--left {
  text-align: left;
}
.tx--right {
  text-align: right;
}
.tx--center {
  text-align: center;
}
body {
  font-family: 'Open Sans', sans-serif;
}
h3 {
  margin-top: 0;
}
/**
* Colors
*/
.bd--black {
  border: 4px solid #000;
}
.bg--black {
  background-color: #000;
}
.tx--black {
  color: #000;
}
.bd--red {
  border: 4px solid #e74c3c;
}
.bg--red {
  background-color: #e74c3c;
}
.tx--red {
  color: #e74c3c;
}
.bd--blue {
  border: 4px solid #1e8bc3;
}
.bg--blue {
  background-color: #1e8bc3;
}
.tx--blue {
  color: #1e8bc3;
}
.bd--green {
  border: 4px solid #26a65b;
}
.bg--green {
  background-color: #26a65b;
}
.tx--green {
  color: #26a65b;
}
.bd--grey {
  border: 4px solid #6c7a89;
}
.bg--grey {
  background-color: #6c7a89;
}
.tx--grey {
  color: #6c7a89;
}
.bd--purple {
  border: 4px solid #8e44ad;
}
.bg--purple {
  background-color: #8e44ad;
}
.tx--purple {
  color: #8e44ad;
}
.bd--white {
  border: 4px solid #000000;
}
.bg--white {
  background-color: #ecf0f1;
}
.tx--white {
  color: #000000;
}
/**
* Images
*/

img.dw-pnl__cntnt,
img.dw-flp__pnl {
  padding: 0px;
}
img.dw-flp__pnl {
  max-height: 100%;
}
@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
